    .Card {
        padding: 15px;
        border-radius: 12px;
        background: var(--card-bg);

        .Image {
            margin-left: 25px;
        }

        .Info {
            padding-top: 30px;
        }
    }
    
